@mixin clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin container() {
  width: $width-small;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: $width-medium;
  }

  @media #{$desktop-widths} {
    width: $width-large;
  }
   
}

