@import 'variables';


body {
//index 
  background: #f2f2f2 url("../img/sedona-index-mobile.png") no-repeat 50% 0px;
  min-height: 3620px;

//photo
//  background: #f2f2f2 url("../img/sedona-photo-mobile.png") no-repeat 50% 0px;

//form
//  background: #f2f2f2 url("../img/sedona-form-mobile.png") no-repeat 50% 0px;
}

@media #{$tablet-widths} {
  body {
//index
    background: #f2f2f2 url("../img/sedona-index-tablet.png") no-repeat 50% 0px;
    min-height: 2700px;

//photo
//    background: #f2f2f2 url("../img/sedona-photo-tablet.png") no-repeat 50% 0px;


//form
//  background: #f2f2f2 url("../img/sedona-form-tablet.png") no-repeat 50% 0px; 
  }
}

@media #{$desktop-widths} {
  body {
//index
    background: #f2f2f2 url("../img/sedona-index-desktop.png") no-repeat 50% 0px;
    min-height: 2270px;

//photo
//  background: #f2f2f2 url("../img/sedona-photo-desktop.png") no-repeat 50% 0px;

//form
//  background: #f2f2f2 url("../img/sedona-form-desktop.png") no-repeat 50% 0px; 
  }
}

