@import 'variables';

@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans";
  font-style: normal;

  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

body {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333;
  font-style: normal;

  background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
} 
