@import
  'utils/mixins',
  'utils/variables';

.btn {
  display: block;
  padding: 16px 47px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #fff;

  text-transform: uppercase;
  text-align: center;

  border: none;

  background-color: $accent-color;


}