.features {
  background-color: #fff;

  text-transform: uppercase;
  text-align: left;

}

.features__list {
	margin: 0;

  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 38px;

	list-style: none;
}

.features__title {
  margin: 0;

  padding-top: 27px;
  padding-bottom: 14px;
  padding-left: 52px;

	font-weight: bold;
	font-size: 18px;
	line-height: 26px;
	color: #000;
}

.features__item {

	p {
    margin: 0;
    padding: 0;
    padding-left: 52px;

		font-size: 14px;
		line-height: 21px;
		color: #333;		
	}

  &--living {
    background-image: url('/img/icon-house.svg');
    background-repeat: no-repeat;
    background-size: 40px 36px;
    background-position: 3px 17px;

  }
  &--souvenirs {
    background-image: url('/img/icon-gift.svg');
    background-repeat: no-repeat;
    background-size: 32px 38px;
    background-position: 7px 16px;

  }
  &--food {
    background-image: url('/img/icon-burger.svg');
    background-repeat: no-repeat; 
    background-size: 40px 35px;
    background-position: 0px 23px;      
  }

}