@import 'utils/mixins';
@import 'utils/variables';

.page-header__logo {
  height: 83px;

  text-align: center;
}

.page-header__logo img {
  width: 103px; 
  height: 83px;
}

.page-header__top-menu {
  min-height: 56px;

  margin: -83px auto 0;

  background-color: white;
}

.page-header {

  @include container();

}

.page-header__banner {
  width: 100%;

  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;

  &--welcome {
    height: 445px;
    background-position: 50% bottom;
  }

  &--small {
    height: 214px;
    background-position: 50% -175px;
  }
}


@media #{$tablet-widths} {
  
  .page-header {
    min-height: 56px; /* минимальная высота содержания */
  }

  .page-header__banner {

//    background-image: url('../img/bg-back-desktop@1x.jpg');
    background-image: none;

    &--welcome {
      height: 574px;
    }
    &--small {
      height: 346px;
    }
  }

}

@media #{$desktop-widths} {
  .page-header__banner {
    &--small {
      height: 357px;
    }    
  }
}
