@import 'utils/mixins',
        'utils/variables';

.page-footer {
  /* обводка */
  outline: 2px solid green;
  background: rgba(128, 255, 128, 0.25);

  @include container();
  min-height: 182px; /**/

  padding-top: 38px;
  padding-bottom: 23px;

  text-transform: uppercase;
  text-align: center;
}

@media #{$tablet-widths} {
  .page-footer {
    min-height: 48px;

    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.page-footer__title {
  margin: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000;
}

.page-footer__social {

}

.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
  color: #000;
}

.page-footer__copyright-link {

}