@import
  'utils/mixins',
  'utils/variables';

.photo {
  @include container();
}

.photo__header {
  /* обводка */
  outline: 2px solid green;
  background: rgba(128, 255, 128, 0.25);

  padding-top: 42px;
  padding-right: 22px;
  padding-bottom: 31px;
  padding-left: 22px;

  text-transform: uppercase;
  text-align: center;

}

.photo__title {
  margin: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

.photo__intro {

  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.photo__list {
  /* обводка */
  background: rgba(0, 0, 0, 0.2);
  outline: 2px solid rgba(0, 0, 0, 0.9);

  margin: 0;
  padding: 0;

  list-style: none;
}

.photo__item {
  border-top: 1px solid $border-color;

  &:last-child {
   border-bottom: 1px solid $border-color;    
  }

}

.photo__image {
  margin: 0;
  padding: 20px;

  width: 280px;
  height: 280px;
}

.photo__caption {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;

  text-transform: uppercase;
  text-align: left;

}

.photo__author {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #333;

  text-align: left;


}

.photo__likes {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;

  text-transform: uppercase;
  text-align: left;

}

.photo__likes-count {
}