@import
  'utils/mixins',
  'utils/variables';

.reasons {
  @include container();
}

.reasons__header {
  padding-top: 41px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;

  text-transform: uppercase;
  text-align: center;  

  background-color: white;
}

.reasons__title {
  margin: 0;
  padding: 0 5px 27px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: black;
}

.reasons__intro {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  color: #333;
}

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #eee;
}

.reasons__item-title {
  margin: 0;
  padding: 0 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;

  text-transform: uppercase;
  text-align: center;
}

.reasons__item-number {
  margin: 0;
  padding: 0;
}

.reasons__item-card {
  text-align: center;
  text-transform: uppercase;

  p {
    margin: 0;
    padding: 8px 15px;

    font-size: 14px;
    line-height: 21px;
  }
}

.reasons__item {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 26px;
  padding-bottom: 20px;

  border-bottom: 1px solid #d6d6d6;

  &:first-child{
    padding-top: 78px;
    background-image: url('../img/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: top;
  }

  &:last-child{
    padding-bottom: 19px;
    border-bottom: none;
  }
}

.reasons__item--featured {
  margin-left: 0;
  margin-right: 0;
  padding-top: 39px;
  padding-bottom: 0px;

  color: #fff;

  border-bottom: none;
  background-color: $accent-color;

  h3 {
    color: #fff;
  }

  p {
    padding: 8px 25px;
  }

  img {
    height: 260px;

    display: block;

    margin: 0 auto;
    margin-top: 32px;
    padding: 0;
  }
}



@media #{$tablet-widths} {

  .reasons__header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;;
  }

  .reasons__title {
    padding: 0 50px 28px;
    font-size: 21px;
  }

  .reasons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reasons__item {
    width: 33%;
    height: 256px;

    margin: 0;
    padding: 0;

    border: none;

    &:first-child {
      padding-top: 0;
      background-image: none;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }

  .reasons__item--featured {
    width: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    .reasons__item-card {
      width: 33%;
    }

    .reasons__item-picture {
      width: 67%;
    }

    img {
      width: 100%;
      height: 256px;
      margin: 0;
    }

    &:nth-of-type(even) .reasons__item-picture {
      order: -1;
    }
  }

  .reasons__item-card p {
    padding: 8px 45px 13px;
    hyphens: manual;
  }

  .reasons__item-title {
    padding: 45px 50px 2px;
    font-size: 21px;
  }

}

@media #{$desktop-widths} {
  .reasons__title {
    padding: 0 250px 28px;
  }

  .reasons__item--featured  .reasons__item-title {
    padding: 52px 100px 2px;
    font-size: 21px;
  }
  .reasons__item--featured p {
    padding: 8px 60px 13px;      
  }
  .reasons__item-title {
    padding: 45px 120px 2px;    
  }
  .reasons__item-card p {
    padding: 8px 60px 13px;      
  }
}