@import
  'utils/mixins',
  'utils/variables';

.reasons {
  @include container();
}

.reasons__header {
  padding-top: 41px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;

  text-transform: uppercase;
  text-align: center;  

  background-color: white;
}

.reasons__title {
  margin: 0;
  padding: 0 5px 27px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: black;
}

.reasons__intro {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  color: #333;
}

.reasons__list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #eee;
}

.reasons__item-title {
  margin: 0;
  padding: 0 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;

  text-transform: uppercase;
  text-align: center;
}

.reasons__item-number {
  margin: 0;
  padding: 0;
}

.reasons__item {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 26px;
  padding-bottom: 20px;

  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid #d6d6d6;

  &:first-child{
    padding-top: 56px;
  }
  &:last-child{
    padding-bottom: 19px;
    border-bottom: none;
  }

  p {
    margin: 0;
    padding: 8px 15px;

    font-size: 14px;
    line-height: 21px;
  }
  
  img {
    height: 260px;

    display: block;

    margin: 0 auto;
    margin-top: 32px;
    padding: 0;
  }

  &--featured {
    margin-left: 0;
    margin-right: 0;
    padding-top: 39px;
    padding-bottom: 0px;

    color: #fff;

    border-bottom: none;
    background-color: $accent-color;

    h3 {
      color: #fff;
    }

    p {
      padding: 8px 25px;
    }
  }

}

@media #{$tablet-widths} {

  .reasons__header {
    min-height: 99px; /* временно для сетки */

    padding-top: 50px;
    padding-bottom: 50px;
  }

  .reasons__title {
    padding: 0 50px 28px;

    font-size: 21px;
  }

  .reasons__list {
    min-height: 1098px;
  }
}

@media #{$desktop-widths} {
  .reasons__title {
    padding: 0 300px 28px;
  }
}