@import
  'utils/mixins',
  'utils/variables';

.review {
  @include container();
  background: white;
}

.review__header {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;

  border-bottom: 1px solid $border-color;

  p {
    margin: 0;
    padding: 0;
    padding-top: 25px;

    font-size: 14px;
    line-height: 24px;

    text-transform: uppercase;
    text-align: center;
  }
}

.review__form {
  margin: 0;
  padding: 0;

  padding-bottom: 37px;
}

.review__input {
  outline: none;
  box-sizing: border-box;
  height: 58px;

  padding-left: 22px;
  padding-right: 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000; 

  background-color: #f2f2f2; 
  border: none;
  opacity: 1;

  &::placeholder {
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000;  
  }
  &::-webkit-input-placeholder {
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000;
  }
  &:-moz-placeholder {
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000;  
  }
  &:-ms-input-placeholder {
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000;
  }

  &--textarea {
    box-sizing: border-box;
    width: 280px;
    max-width: 280px;
    height: 160px;

    padding: 22px;

    &:focus {
      padding: 18px;
    }
//    resize: none;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: white;
    border: 4px solid #e5e5e5;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.review__title,
.review__legend {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;

  text-transform: uppercase;
  text-align: center;
}

.review__label {
  font-size: 14px;
  line-height: 26px;
  color: #333;

  text-transform: uppercase;
}

.review__fieldset {
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  padding: 18px 20px 25px;

  border: none;
  border-bottom: 1px solid $border-color;

  &--introduction {

    .review__field {
      display: flex;
      align-items: center;

      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .review__label {
      padding-right: 18px;
    }

    .review__input {
      width: 50%;
      flex-grow: 1;
    }
  }


  &--contacts {
    padding-bottom: 28px;

    .review__label {
      display: block;
      padding-left: 22px;
    }

    .review__error {
      padding: 6px 22px 11px;

      p {
        margin: 0;
        padding: 0; 

        font-size: 14px;
        line-height: 26px;
        color: $error-color;

        text-transform: none;
        text-align: left;
      }
    }

    .review__input {
      width: 100%;

      margin-top: 6px;
      background-repeat: no-repeat;
      background-position: right 0 top 0;
      background-origin: border-box;

      &--tel {
        background-image: url('../img/icon-phone.svg');
      }

      &--email {
        background-image: url('../img/icon-mail.svg');
      }
    }    
  }

  &--impression {
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 16px;
  }

  &--sights {
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 0;
    padding-bottom: 0;
  }

  &--emotions {
    border: none;
    padding-bottom: 41px;
  }

}

.review__required-fields {
  display: none;
}

.review__radio,
.review__checkbox {
  display: block;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000; 

  input {
    display: none;
  } 
}

.review__radio {
  margin-bottom: 12px;
}

.review__checkbox {
  margin-bottom: 24px;
}

.review__radio-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 22px;
  height: 22px;
  border: 17px solid #f2f2f2;
  border-radius: 50%;
  background-color: #f2f2f2;

  &:hover {
    border-color: #e5e5e5;
    background-color: #e5e5e5;
  }

  &:active {
    border-color: #d5d5d5;
    background-color: #d5d5d5;    
  }
}

input[type="radio"]:checked ~ .review__radio-indicator {
  background-color: #333;

  &:active {
    background-color: #a4a4a4;    
  }  
}

.review__checkbox-indicator {
  display: inline-block;
  vertical-align: middle;

  margin-right: 20px;

  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 5px;

  &:hover {
    background-color: #e5e5e5;
  }
  &:active {
    background-color: #d5d5d5;
  }
}

input[type="checkbox"]:checked ~ .review__checkbox-indicator {
  background-color: #f2f2f2;
  background-image: url('../img/icon-tick-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  &:hover {
    background-color: #e5e5e5;
  }
  &:active {
    background-color: #d5d5d5;
    background-position: 100% 0;
  }
}

.review__popup {
  display: none;
}

.review__write {
  margin: 0 auto; 
  width: 280px;
}


@media #{$tablet-widths} {

  .review__header {
    padding-top: 74px;
    padding-bottom: 58px;
    border-bottom: none;

    p {
      padding: 31px 145px 0;
    }
  }

  .review__legend {
    box-sizing: border-box;
    width: 400px;

    padding: 0 58px;
    font-size: 21px;

    span {
      display: none;
    }
  }

  .review__form {
    display: flex;
    flex-wrap: wrap;

    padding: 0 60px 61px;
  }

  .review__fieldset {
    margin-top: 0;
    margin-bottom: 68px;
    border: none;
    border-top: 1px solid $border-color;

    &--impression .review__legend,
    &--introduction .review__legend {
      width: 100%;
      padding: 16px 0 0;
      text-align: left;
    }

    &--introduction {
      order: 2;
      width: 50%;
      padding: 58px 0 0 56px;
      border-top: none;
      border-left: 1px solid $border-color;
    }

    &--contacts {
      order: 3;
      width: 100%;
      padding: 0;
      margin-bottom: 52px;

      .review__field {
        padding: 25px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .review__label {
          order: 1;
        }

        .review__input {
          width: 100%;
          order: 3;
        }

        .review__error {
          order: 2;
          padding: 0;
          p {
            float: right;
          }
        }
      }

    }

    &--impression {
      order: 1;
      width: 50%;
      padding: 60px 0 0 0;
      border-top: none;

      .review__radio-indicator {
        margin-right: 15px;
      }
      .review__radio {
        margin-bottom: 22px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
    }

    &--sights {
      order: 4;
      width: 100%;
      padding-top: 32px;
      padding-left: 95px;
      padding-bottom: 0px;
      margin-bottom: 42px;

      .review__wrapper {
        display: flex;
        flex-wrap: wrap;
      }
      .review__checkbox {
        min-width: 259px;
        margin-top: 10px;
      }
      .review__checkbox:nth-child(2) {
        order: 3;
      }
      .review__checkbox:nth-child(3) {
        order: 2;
      }
      .review__checkbox:nth-child(4) {
        order: 4;
      }
      .review__legend {
        margin-bottom: 0;
      }

    }

    &--emotions {
      order: 5;
      width: 100%;

      margin: 0;
      padding: 60px 0 49px;
    }
  }

  .review__input--textarea {
    width: 648px;
    min-width: 648px;
    max-width: 648px;
  }

  .review__write {
    order: 10;
    width: 458px;
    margin: 0;
  }

  .review__popup-message {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;

    font-size: 30px;
    line-height: 26px;
    color: #000;
    font-weight: bold;
  }

  .review__popup-message-details {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    color: #333;
  }

  .review__popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;

    &::after {
      content: "";

      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }
  }

  .review__popup {
    display: inline-block;
    vertical-align: middle;

    box-sizing: border-box;

    margin: 0 auto;
    padding-top: 54px;
    padding-left: 112px;
    padding-right: 112px;

    background-color: white;

    text-align: center;
    text-transform: uppercase;

    box-shadow: 0 7px 15px 0 rgba(0,1,1,0.15);

    &--fail {
      width: 400px;
      height: 347px;

      padding-left: 60px;
      padding-right: 60px;

      position: relative;

      .review__popup-message {
        line-height: 40px;

        padding-left: 30px;
        padding-right: 30px;
      }

      .review__popup-close {
        width: 272px;

        position: absolute;

        bottom: 49px;
        left: 64px;
      }
    } 

    &--success {
      width: 640px;
      height: 347px;

      padding-top: 64px;
      padding-left: 112px;
      padding-right: 112px;

      position: relative;

      .review__popup-close {
        width: 458px;

        position: absolute;

        bottom: 44px;
        left: 92px;
      }

      &::before {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 146px;
        background: #f2f2f2;
      }
    }
  }


  .review__required-fields {
    order: 11;
    flex-grow: 1;
    align-self: center;

    display: block;

    p {
      font-size: 14px;
      line-height: 26px;
      color: #333;

      text-align: right;
      text-transform: uppercase;      
    }
  }

  .review__title {
    font-size: 30px;
  }
}

@media #{$desktop-widths} {

  .review__header {
    padding-top: 112px;
    padding-bottom: 43px;

    p {
      padding: 31px 360px 0;
    }
  }

  .review__form {
    padding: 0 120px 66px;
  }

  .review__fieldset {
    margin-top: 0;

    &--introduction {
      padding-left: 79px;

      .review__legend span {
        display: inline;
      }
    }

    &--contacts {
      padding-top: 15px;

      .review__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

      }

      .review__label span {
        display: none;
      }

      .review__field {
        width: 400px;

        align-items: center;
        justify-content: space-between;

        &:nth-child(even) {
        margin-left: 79px;
        flex-grow: 1;
        }

        .review__label {
          flex-grow: 1;
          padding-left: 0;
          padding-top: 8px;
        }

        .review__input {
          width: 315px;
        }

        .review__error {
          order: -1;
          width: 100%;
          
          p {
            padding-left: 106px;
            float: none;
          }
        }
      }
    }

    &--sights {
      padding-top: 45px;
      padding-left: 0;
      margin-bottom: 64px;
      
      .review__wrapper {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
      }
      .review__checkbox {
        margin: 0;
        padding: 0;
        min-width: 172px;
      }
    }
  }

  .review__input--textarea {
    width: 960px;
    min-width: 960px;
    max-width: 960px;
  }

  .review__write {
    width: 480px;
  }
}
