@import
  'utils/mixins',
  'utils/variables';

.review {
    @include container();

}

.review__header {
  /* обводка */
  outline: 2px solid green;
  background: rgba(128, 255, 128, 0.25);

  padding-top: 42px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;

  p {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 24px;

    text-transform: uppercase;
    text-align: center;
  }
}

.review__form {
  /* обводка */
  background: rgba(0, 0, 0, 0.2);
  outline: 2px solid rgba(0, 0, 0, 0.9);

  padding-bottom: 46px;
}

.review__title,
.review__form-legend {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000;

  text-transform: uppercase;
  text-align: center;

}

.review__form-label {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 26px;
  color: #333;

  text-transform: uppercase;

}

.review__form-legend {
/*
  position: absolute;
  top: 24px;
  left: 0;
*/
  padding-top: 22px;
}

.review__form-fieldset {
  margin: 0;
  padding-top: 24px; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px; 

  border: none;
//  border-top: 1px solid $border-color;

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000; 

    background-color: $input-bg-color; 
  }

  input::placeholder,
  input::-webkit-input-placeholder,
 /* ,
  input:-moz-placeholder,
  input:-ms-input-placeholder
  */
  textarea {
    opacity: 1;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000;
  }



}

.review__form-control-radio,
.review__form-control-checkbox {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000;  
}

.review__error {
  p {
    margin: 0;
    padding: 0; 

    font-size: 14px;
    line-height: 26px;
    color: $error-color;

    text-transform: none;
    text-align: left;
  }
}

.review__write {
  margin: 10px auto;
}