.social-link {
	width: 46px;
	height: 48px;

	margin-right: 6px;

	display: inline-block;
	vertical-align: middle;

	background-color: $accent-color;

  &:last-child {
   	margin-right: 0;
  }
  &:hover {
		background-color: $accent-color-hvr;    	
  }
  &:active {
   	background-color: $accent-color-down;
  }
  svg {
		fill: white;
  }
  &:active svg {
  	opacity: 0.3;
  }

	&--tw svg {
		width: 18px;
		height: 15px;
		margin-top: 17px;	
	}
	&--fb svg {
		width: 9px;
		height: 19px;
		margin-top: 14px;
  }
	&--yt svg {
		width: 20px;
		height: 14px;
		margin-top: 17px;	
  }
}

