@import 'utils/variables';

.social-link {
	width: 46px;
	height: 48px;

	margin-right: 6px;

	display: inline-block;
	vertical-align: middle;

	background-color: $accent-color;
	background-image: url('../img/social-sprite.svg');
	background-repeat: no-repeat;

    &:last-child {
    	margin-right: 0;
    }

    &:hover {
		background-color: $accent-color-hvr;    	
    }

    &:active {
    	background-color: $accent-color-down;
    }

	&--tw {
		background-position: 0% 0%;
		&:hover {
			background-position: 0% 100%;
		}
	}
	&--fb {
		background-position: 50% 0%;   
		&:hover {
			background-position: 50% 100%;
		}
  	}
	&--yt {
	    background-position: 100% 0%;
		&:hover {
			background-position: 100% 100%;
		}
  	}
}

